

/*@import url('https://fonts.googleapis.com/css?family=Lato');*/
/*@import url('https://fonts.googleapis.com/css?family=Heebo');*/

/*
@font-face {
    font-family: "Lato";
    src: url(font/Lato/Lato-Medium.ttf) format("truetype");
}
*/


/*
/* latin-ext */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(font/Lato.woff2) format('woff2');  
  
  font-display: fallback;
}



/*font-family: 'Heebo', sans-serif;verdana*/


*{         
    font-family: 'Lato', verdana, helvetica,sans-serif;   
    
}
  


html{
    height:100%;
    font-size: 0.90rem;
    font-size: 1rem;
}



body {
    display: flex;
    justify-content: center;
    margin: 0;    
        min-height: 100%;
     
}


header{        
    width: 100%;
}


nav#nav{    
    width: 100%;   
    height: 32px;
    border-bottom: solid 4px;
    border-bottom: solid 2px;
    border-bottom: solid 3px;
}



main{
    display: flex;
    flex-grow: 1;    
    justify-content: center;
    flex-wrap: wrap-reverse;    
}


section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer{
    
}





article.s10 {    
    margin-bottom: 10rem;    
}



#panelCentral{    
    width: 70%;
}



hr.e10 {
    margin: 10px;
    border: 0px;
}


hr.e20 {
    margin: 20px;
    border: 0px;
}


hr.e40 {
    margin: 40px;
    border: 0px;
}


.subti
{
      margin-bottom: 0px;
}

  


#loginlogo{    
    width: 100%;
}


#header_logo {
    
    display: flex;
    justify-content: space-between;
    
}



.wi-5 {
    width: 50%;
 } 

.wi-6 {
    width: 60%;
 } 